<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="Components/NBar/navbarstyle.css">
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container">

            <!-- Logo Section -->
            <div class="logo">
                <a href="index.html">
                    <img src="assets/baymax.png" alt="Baymax Bot">
                </a>
                <span class="logo-text">BayMax <span class="highlight">BOT</span></span>
            </div>

            <!-- Navigation Menu -->
            <nav class="nav-menu">
              <a href="index.html">Home</a>
                <a href="Diagnosis.html">Diagnosis</a>
                <a href="About.html">About</a>
                <a href="#">Our Team</a>
                <div class="get-started">
                    <a href="#">Donate</a>
                </div>
            </nav>
        </div>
    </header>
</body>
</html>
